= form_for @batting_history do |f|
  - if @batting_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@batting_history.errors.count, "error")} prohibited this batting_history from being saved:"
      %ul
        - @batting_history.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :at_bats
    = f.number_field :at_bats
  .field
    = f.label :hits
    = f.number_field :hits
  .actions
    = f.submit 'Save'
