<td><%= date %></td>
<td><%= at_bats %></td>
<td><%= hits %></td>
<td><a href="#/<%= id %>" class="btn btn-default btn-xs">詳細</a></td>
<td><a href="#/<%= id %>/edit" class="btn btn-default btn-xs">編集</a></td>
<td><a href="#/<%= id %>/destroy" class="btn btn-link btn-xs destroy">削除</a></td>
