<h3>打撃成績の登録</h3>

<form id="new-batting_history" name="batting_history" class="form-horizontal">
  <div class="form-group">
    <label for="date" class="col-sm-2 control-label">試合日</label>
    <div class="col-sm-10">
      <input type="text" name="date" id="date" class="form-control use-datepicker" value="<%= date %>">
    </div>
  </div>
  <div class="form-group">
    <label for="at_bats" class="col-sm-2 control-label">打数</label>
    <div class="col-sm-10">
      <input type="text" name="at_bats" id="at_bats" class="form-control" value="<%= at_bats %>">
    </div>
  </div>
  <div class="form-group">
    <label for="hits" class="col-sm-2 control-label">安打</label>
    <div class="col-sm-10">
      <input type="text" name="hits" id="hits" class="form-control" value="<%= hits %>">
    </div>
  </div>
  <div class="form-group">
    <label for="runs_batted_in" class="col-sm-2 control-label">打点</label>
    <div class="col-sm-10">
      <input type="text" name="runs_batted_in" id="runs_batted_in" class="form-control" value="<%= runs_batted_in %>">
    </div>
  </div>
  <div class="form-group">
    <label for="stolen_bases" class="col-sm-2 control-label">盗塁</label>
    <div class="col-sm-10">
      <input type="text" name="stolen_bases" id="stolen_bases" class="form-control" value="<%= stolen_bases %>">
    </div>
  </div>
  <div class="form-group actions">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="登録">
    </div>
  </div>
</form>

<a href="#/index" class="btn btn-link">戻る</a>
