<h3>打撃成績の詳細</h3>

<dl class="dl-horizontal">
  <dt>試合日</dt>
  <dd><%= date %></dd>
  <dt>対戦チーム</dt>
  <dd><%= opponent %></dd>
  <dt>打席</dt>
  <dd><%= plat_appearances %></dd>
  <dt>打数</dt>
  <dd><%= at_bats %></dd>
  <dt>安打</dt>
  <dd><%= hits %></dd>
  <dt>打点</dt>
  <dd><%= runs_batted_in %></dd>
  <dt>得点</dt>
  <dd><%= runs %></dd>
  <dt>盗塁</dt>
  <dd><%= stolen_bases %></dd>
  <dt>三振</dt>
  <dd><%= strikeouts %></dd>
  <dt>四球</dt>
  <dd><%= walks %></dd>
</dl>

<a href="#/index" class="btn btn-link">戻る</a>

