!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BaseballHistory
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      $(function() {
        window.router = new BaseballHistory.Routers.BattingHistoriesRouter({batting_histories: #{@batting_histories.to_json.html_safe}});
        Backbone.history.start();
      });
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{ data: {target: '.navbar-collapse', toggle: 'collapse'}, type: 'button' }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to '#', class: 'navbar-brand' do
            Baseball History
    .container
      #batting_histories
